body {
    margin:0;
}
header{
    color:#ffffff;
    background-color:#004080;
    padding:5px 15px;
}
nav a {
   margin:5px;
    color:white;
    text-decoration:none;
    
}
nav a[href="QURAAN.HTML"],
nav a[href="BOOKS.HTML"]{
    border: 2px solid white;
    padding: 4px 10px;
    border-radius: 10px;
    position:relative ;
    top:-5px;
    left:-18px;
}
